h1{
    padding-top: 100px;
    font-size: xx-large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#count-el{
    font-size: xx-large;
    text-align: center;
}
#increment-btn{
    display: inline-block;
    color: white;
    margin-left: 45%;
    text-align: center;
    background-color: red;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 20px;
    transition-duration: 0.45s;
}
#increment-btn:hover{
    background-color: rgb(177, 40, 40);
    color: grey;
}
#save-btn{
    display: inline-block;
    color: white;
    margin-left: 45%;
    text-align: center;
    background-color: green;
    border: none;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 20px;
    transition-duration: 0.45s;
}
#save-btn:hover{
    background-color: lightgreen;
    color: grey;
}

#savedEl{
    font-size: xx-large;
    text-align: center;
}
